language: node_js
node_js:
- "0.8"
- "0.10"
- "0.11"
- "0.12"
- "1"
- "2"
services:
  - redis-server
  - mongodb
  - memcached
script: "npm install bunyan && npm install oneapm@dev --reg=http://npm.oneapm.com && node ./test/express.js | bunyan"
