<!-- Footer -->
<footer id="footer">
    <div class="container">
        <h2 align="center">Other Footprints</h2>
        <p align="center">Learning never ends,in the life.</p>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
        </ul>
    </div>
    <ul class="copyright">
        <li> ©2017 Starrier All Rights Reserved</li>
        <li><a href="http://www.miitbeian.gov.cn"> 苏ICP备17039741号-2</a></li>
        <li><a>苏公网安备32011102010240号</a></li>
    </ul>
</footer>